# Ignore VSCode
.vscode
.cache
.cline_storage

# Python Virtual environment
venv
.venv

# Ignore build directories
*build*

# Ignore install directories
*install*

# Python cache
**/__pycache__

# Pre-commit cache
.pre-commit-cache

# Ignore internal documentation
docs/internal

# Ignore experiments
exp

# Ignore setup artifacts
.setup_done

# Ignore coverage reports
coverage_reports
